img {
    position: relative;
    left: 3px;
    height: 10px;
    top: 1px;
    width: 12px;
    cursor: pointer
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.header {
    margin: 50px;
    margin-top: 30px;
    color: #1946ba;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex: 1;
    border-bottom: 2px solid #F5F5F5;
}

table {
    table-layout: fixed;

    border-collapse: collapse;
    border: 2px solid gray;

}

table td.shrink {
    white-space: nowrap
}

table td.expand {
    width: 99%
}

tbody tr:nth-child(odd) {
    background-color: #D8D8D8;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:hover {
    background-color: #F3ED86;
    color: #000000;
}

table {
    background-color: white;
}

thead th, tfoot th {
    font-family: bold;
}

th {
    letter-spacing: 2px;
    cursor: n-resize
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

table td {
    border: 1px solid black;
}